/* Component Variables */

/* Button Groups */

$button-group-collapse-dividing-borders:   false !default;

/* Icon Input */

$icon-input-icon-color:         $input-placeholder-color !default;
$icon-input-icon-class-prefix:  'icon-' !default;
$icon-input-icon-width:         2.65em !default;
$icon-input-margin-bottom:      $input-margin-bottom !default;

/* Input Groups */

$input-group-addon-y-padding:   1rem !default;
$input-group-margin-bottom:     $input-margin-bottom !default;
