/* Component Variables */

/* Button Groups */

$button-group-collapse-dividing-borders:   false;

/* checkboxes */

$checkbox-checked-color:        color("primary");
$checkbox-font-weight:          400;
$checkbox-size:                 1.8rem;
$checkbox-tick-width:           .2rem;

/* Icon Input */

$icon-input-icon-color:         $input-placeholder-color;
$icon-input-icon-class-prefix:  'fa-';
$icon-input-icon-width:         2.65em;
$icon-input-margin-bottom:      $input-margin-bottom;

/* Input Groups */

$input-group-addon-y-padding:   1rem;
$input-group-margin-bottom:     $input-margin-bottom;
