/* variables */

// typography
$base-font-family:              "Source Sans Pro", sans-serif;
$code-font-family:              "Inconsolata", monospace;
$base-font-size:                14px;
$table-font-size:               1.4rem;

/* colors */
$colors: (
  "primary":                    rgb(26, 162, 220),
  "black":                      rgb(0, 0, 0),
  "white":                      rgb(255, 255, 255),
  "red":                        rgb(170, 4, 3),
  "green":                      rgb(194, 227, 139),
  "dovegray":                   rgb(102, 102, 102),
  "seashell":                   rgb(241, 241, 241),
  "silverchalice":              rgb(157, 157, 157),
);

$body-background:               map-get($colors, "white");
$font-color:                    map-get($colors, "dovegray");
$link-color:                    map-get($colors, "primary");

/* misc */
$global-radius:                 .25rem;

/* forms */
$input-use-full-width:          true;

/* buttons */
$buttons: (
  // name                       color                               font-color
  red:                          map-get($colors, "red")             map-get($colors, "white"),
  primary:                      map-get($colors, "primary")         map-get($colors, "white"),
  white:                        map-get($colors, "white")           map-get($colors, "black"),
);
$button-padding-y:              .4rem;
$button-padding-x:              1rem;
$button-font-size:              1.4rem;

// z-indexes
$z-layers: (
  "header": 1,
  "menu": 2
);