<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Starlette Admin</title>
        <style>@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto:300,400,400i,500&display=swap');</style>
        <link href="{{ url_for('static', path='/starlette_admin/css/admin.min.css') }}" rel="stylesheet">
        {% block extra_css %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    </head>
    <body>

    {% block header %}
    {% include "starlette_admin/partials/header.html" %}
    {% endblock %}

    {% block sidebar %}
    {% include "starlette_admin/partials/sidebar.html" %}
    {% endblock %}
    
    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}

    {% from "starlette_admin/helpers/_messages.html" import render_messages with context %}
    {{ render_messages() }}

    </body>
</html>
