<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Admin</title>
        <style>@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:300,400,400i,600&display=swap');</style>
        <link href="{{ url_for('static', path='/starlette_admin/css/admin.min.css') }}" rel="stylesheet">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
    {% block header %}
    {% include "starlette_admin/partials/header.html" %}
    {% endblock %}

    {% block sidebar %}
    {% include "starlette_admin/partials/sidebar.html" %}
    {% endblock %}
    
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', path='/starlette_admin/js/admin.min.js') }}"></script>
    {% block extra_js %}{% endblock %}

    {% from "starlette_admin/helpers/_messages.html" import render_messages with context %}
    {{ render_messages() }}

    </body>
</html>
