<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="Starlette Admin Site">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <style>@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,400i,700&display=swap');</style>
        <link rel="stylesheet" href="{{ url_for('static', path='/starlette_admin/css/admin.min.css') }}">
        {% block extra_css %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <title>Starlette Admin</title>
    </head>
    <body>

    {% block header %}
    {% include "starlette_admin/partials/header.html" %}
    {% endblock %}

    {% block sidebar %}
    {% include "starlette_admin/partials/sidebar.html" %}
    {% endblock %}
    
    <div class="main-content">{% block content %}{% endblock %}</div>
    
    {% block extra_js %}{% endblock %}

    {% from "starlette_admin/helpers/_messages.html" import render_messages with context %}
    {{ render_messages() }}

    </body>
</html>
