{% extends "starlette_admin/base.html" %}

{% block extra_css %}
    {% for url in extra_css_urls %}
    <link href="{{ url }}" rel="stylesheet">
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Create</h1>
    {% include "starlette_admin/partials/breadcrumb.html" %}
    {% with button_name='create' %}
    {% include "starlette_admin/partials/form.html" %}
    {% endwith %}
</div>
{% endblock %}

{% block extra_js %}
    {% for url in extra_js_urls %}
    <script src="{{ url }}"></script>
    {% endfor %}
{% endblock %}
