{% extends "starlette_admin/base.html" %}

{% block content %}
<div class="container-fluid mt-header">
    {% include "starlette_admin/partials/breadcrumb.html" %}
    <h1>Delete</h1>
    <div class="panel">
        <p>Are you sure you wish to delete this record?</p>
        <p class="muted mb-0"><em>You may not be able to undo this action.</em></p>
    </div>
    {% with button_name='delete', button_class='button-red' %}
    {% include "starlette_admin/partials/form.html" %}
    {% endwith %}
</div>
{% endblock %}