{% extends "starlette_admin/base.html" %}

{% block extra_css %}
    {% for url in extra_css_urls %}
    <link href="{{ url }}" rel="stylesheet">
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-header">
    <h1>{{ collection_name }}</h1>
    {% include "starlette_admin/partials/breadcrumb.html" %}
    <div class="action-bar">
        {% if search_enabled %}
            {% from "starlette_admin/helpers/_list_helpers.html" import render_search_form %}
            {{ render_search_form(search) }}
        {% endif %}
        <a href="{{ url_for(url_names.create) }}" class="button button-secondary">New Record</a>
    </div>
    {% include "starlette_admin/partials/table.html" %}
</div>
{% endblock %}

{% block extra_js %}
    {% for url in extra_js_urls %}
    <script src="{{ url }}"></script>
    {% endfor %}
{% endblock %}
