{% extends "starlette_admin/base.html" %}

{% block content %}
<div class="full-visual-height d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="h1">Welcome to Starlette Admin</p>
                <p>To get started please open the menu using the <span class="toggle-menu fill-primary mx-1">{% include "starlette_admin/partials/svg/menu.svg" %}</span> top left of the window</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
