{% extends "starlette_admin/base.html" %}

{% block extra_css %}
{% if widgets|length > 0 %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <p class="py-1">Welcome. To get started use the links below or open the menu using the <span class="toggle-menu c-primary"><i class="icon-menu"></i></span> above.</p>
    {% if widgets|length > 0 %}
    <div class="row">
        {% for widget in widgets %}
        <div class="col-12 col-md-6 col-lg-4">{{ widget.html }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="columns">
        {% for section in registry|groupby('section_name') %}
        <section class="section-list">
            <div class="title">{{ section.grouper }}</div>
            <ul>
                {% for admin in section.list %}
                <li><a href="{{ url_for(admin.url_names().list) }}" title="{{ admin.collection_name }}">{{ admin.collection_name }}</a></li>
                {% endfor %}
            </ul>
        </section>    
        {% endfor %}
    </div>
</div>
{% endblock %}
