@charset "UTF-8";
/* karma-css */
/* variables */
/* colors */
/* misc */
/* forms */
/* buttons */
/* tables */
/* karma-css core */
/*! Karma-CSS v1.9.8 MIT License | http://karmacss.com | https://github.com/accentdesign/karma-css */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #484644;
  background: #f9f9f7;
}

main {
  display: block;
}

a {
  color: #6261a9;
  text-decoration: none;
  background-color: transparent;
  transition: color linear 250ms;
}

a:hover {
  color: #4d4c8b;
  text-decoration: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  overflow: visible;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #484644;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border: 1px solid #e3e3da;
  border-radius: 0.25rem;
  transition: background-color linear 250ms, border-color linear 250ms;
}

.button:hover, .button:focus {
  color: #484644;
  background-color: #e6e6e6;
  border-color: #cdcdbd;
  outline: 0;
}

.button.button-outline {
  background-color: transparent;
  transition: background-color linear 250ms, border-color linear 250ms, color linear 250ms;
}

.button.button-outline:hover, .button.button-outline:focus {
  color: #2e2d2b;
  background-color: transparent;
  border-color: #cdcdbd;
  outline: 0;
}

.button.button-clear {
  background-color: transparent;
  border-color: transparent;
  transition: background-color linear 250ms, border-color linear 250ms, color linear 250ms;
}

.button.button-clear:hover, .button.button-clear:focus {
  color: #2e2d2b;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

.button.button-primary {
  color: white;
  background-color: #6261a9;
  border-color: #56559c;
}

.button.button-primary:hover, .button.button-primary:focus {
  color: white;
  background-color: #4d4c8b;
  border-color: #44437b;
  outline: 0;
}

.button.button-outline.button-primary {
  color: #6261a9;
  background-color: transparent;
  border-color: #6261a9;
}

.button.button-outline.button-primary:hover, .button.button-outline.button-primary:focus {
  color: #4d4c8b;
  background-color: transparent;
  border-color: #4d4c8b;
  outline: 0;
}

.button.button-clear.button-primary {
  color: #6261a9;
  background-color: transparent;
  border-color: transparent;
}

.button.button-clear.button-primary:hover, .button.button-clear.button-primary:focus {
  color: #4d4c8b;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

.button.button-secondary {
  color: white;
  background-color: #5b5959;
  border-color: #4e4c4c;
}

.button.button-secondary:hover, .button.button-secondary:focus {
  color: white;
  background-color: #414040;
  border-color: #343333;
  outline: 0;
}

.button.button-outline.button-secondary {
  color: #5b5959;
  background-color: transparent;
  border-color: #5b5959;
}

.button.button-outline.button-secondary:hover, .button.button-outline.button-secondary:focus {
  color: #414040;
  background-color: transparent;
  border-color: #414040;
  outline: 0;
}

.button.button-clear.button-secondary {
  color: #5b5959;
  background-color: transparent;
  border-color: transparent;
}

.button.button-clear.button-secondary:hover, .button.button-clear.button-secondary:focus {
  color: #414040;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

.button.button-red {
  color: white;
  background-color: #c6171e;
  border-color: #af141b;
}

.button.button-red:hover, .button.button-red:focus {
  color: white;
  background-color: #981217;
  border-color: #810f14;
  outline: 0;
}

.button.button-outline.button-red {
  color: #c6171e;
  background-color: transparent;
  border-color: #c6171e;
}

.button.button-outline.button-red:hover, .button.button-outline.button-red:focus {
  color: #981217;
  background-color: transparent;
  border-color: #981217;
  outline: 0;
}

.button.button-clear.button-red {
  color: #c6171e;
  background-color: transparent;
  border-color: transparent;
}

.button.button-clear.button-red:hover, .button.button-clear.button-red:focus {
  color: #981217;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

.button.button-white {
  color: black;
  background-color: white;
  border-color: #f2f2f2;
}

.button.button-white:hover, .button.button-white:focus {
  color: black;
  background-color: #e6e6e6;
  border-color: #d9d9d9;
  outline: 0;
}

.button.button-outline.button-white {
  color: white;
  background-color: transparent;
  border-color: white;
}

.button.button-outline.button-white:hover, .button.button-outline.button-white:focus {
  color: #e6e6e6;
  background-color: transparent;
  border-color: #e6e6e6;
  outline: 0;
}

.button.button-clear.button-white {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.button.button-clear.button-white:hover, .button.button-clear.button-white:focus {
  color: #e6e6e6;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

code,
kbd,
pre,
samp {
  font-family: "Inconsolata", monospace;
}

code {
  padding: 0.2rem 0.5rem;
  font-size: 100%;
  color: #484644;
  word-break: break-word;
  background: #f0f0f0;
  border: 1px solid #e3e3da;
  border-radius: 0.25rem;
}

pre {
  display: block;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  overflow-x: auto;
  font-size: 90%;
  color: #484644;
  white-space: pre;
  background: #f0f0f0;
  border: 1px solid #e3e3da;
  border-radius: 0.25rem;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

*[disabled] {
  cursor: not-allowed;
}

form {
  margin-bottom: 1.5rem;
}

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="week"] {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  font-family: inherit;
  line-height: 1.5;
  color: #484644;
  background: white;
  border: 1px solid #e3e3da;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: background linear 250ms, border-color linear 250ms;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  max-width: 100%;
  width: 100%;
  -webkit-appearance: none;
}

input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="week"]:focus {
  background: white;
  border-color: #6261a9;
  outline: 0;
}

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"] {
  -webkit-appearance: listbox;
  height: calc(3.85rem + 2px);
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 1rem;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #b9b9b9;
  opacity: 1;
}

::-moz-placeholder {
  color: #b9b9b9;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b9b9b9;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #b9b9b9;
  opacity: 1;
}

::placeholder {
  color: #b9b9b9;
  opacity: 1;
}

textarea {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  font-family: inherit;
  line-height: 1.5;
  color: #484644;
  background: white;
  border: 1px solid #e3e3da;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: background linear 250ms, border-color linear 250ms;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  max-width: 100%;
  width: 100%;
  -webkit-appearance: none;
  overflow: auto;
}

textarea:focus {
  background: white;
  border-color: #6261a9;
  outline: 0;
}

select {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  font-family: inherit;
  line-height: 1.5;
  color: #484644;
  background: white;
  border: 1px solid #e3e3da;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: background linear 250ms, border-color linear 250ms;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  max-width: 100%;
  width: 100%;
  text-transform: none;
}

select:focus {
  background: white;
  border-color: #6261a9;
  outline: 0;
}

select:not([multiple]) {
  height: calc(3.85rem + 2px);
}

label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

legend {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  margin-bottom: .5rem;
  font-weight: 600;
  color: inherit;
  white-space: normal;
}

fieldset {
  margin-bottom: 1.5rem;
  border-width: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  margin: 1.5rem 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid #e3e3da;
}

img {
  border-style: none;
}

figcaption {
  display: block;
}

figure {
  display: block;
  margin: 0 0 1.5rem;
}

ul {
  padding-left: 0;
  margin-bottom: 1.5rem;
  list-style: circle inside;
}

ul ul,
ul ol {
  margin: 0 0 0 2rem;
}

ol {
  padding-left: 0;
  margin-bottom: 1.5rem;
  list-style: decimal inside;
}

ol ol,
ol ul {
  margin: 0 0 0 2rem;
}

dl {
  margin-bottom: 1.5rem;
}

dl dt {
  margin: 0 0 0 0;
  font-weight: 600;
}

dl dd {
  margin: 0 0 1.5rem 2rem;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  padding: 0.85rem 0.85rem;
}

th {
  padding: 0.85rem 0.85rem;
  text-align: left;
  vertical-align: top;
}

td {
  padding: 0.85rem 0.85rem;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #e3e3da;
}

.table-bordered {
  border: solid 1px #e3e3da;
}

/* stylelint-disable selector-max-type */
.table-headed > thead > tr > th,
.table-headed > tbody > tr > th {
  background-color: #eeeee8;
}

/* stylelint-enable selector-max-type */
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #fafafa;
}

.table-hover > tbody > tr:hover {
  background-color: whitesmoke;
}

h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: #252423;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small {
  font-size: 65%;
  line-height: 1;
}

h1,
.h1 {
  margin: 0 0 1.5rem;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

h2,
.h2 {
  margin: 0 0 1.5rem;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.25;
}

h3,
.h3 {
  margin: 0 0 1.5rem;
  font-size: 16.38px;
  font-weight: 600;
  line-height: 1.3;
}

h4,
.h4 {
  margin: 0 0 1.5rem;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.35;
}

h5,
.h5 {
  margin: 0 0 1.5rem;
  font-size: 11.62px;
  font-weight: 600;
  line-height: 1.5;
}

h6,
.h6 {
  margin: 0 0 1.5rem;
  font-size: 9.38px;
  font-weight: 600;
  line-height: 1.6;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

p {
  margin-bottom: 1.5rem;
}

blockquote {
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 3px solid #e3e3da;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/* karma-css components */
/* Component Variables */
/* Button Groups */
/* checkboxes */
/* Icon Input */
/* Input Groups */
.button-group {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.button-group > .button {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.button-group > .button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group > .button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

ul.checkboxes,
ul.radios {
  list-style: none;
}

ul.checkboxes li,
ul.radios li {
  margin-bottom: .5rem;
  position: relative;
}

.checkbox,
ul.checkboxes,
ul.radios {
  margin-bottom: 1.5rem;
}

.checkbox label,
ul.checkboxes label,
ul.radios label {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding: 0 2.7rem;
  position: relative;
}

.checkbox label span,
ul.checkboxes label span,
ul.radios label span {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background: white;
  border: 1px solid #e3e3da;
  height: 1.8rem;
  width: 1.8rem;
}

.checkbox input,
ul.checkboxes input,
ul.radios input {
  position: absolute;
  visibility: hidden;
}

.checkbox input + span:after,
ul.checkboxes input + span:after,
ul.radios input + span:after {
  position: absolute;
  display: block;
  content: "";
  border-color: white;
}

.checkbox input:checked + span,
ul.checkboxes input:checked + span,
ul.radios input:checked + span {
  background: #6261a9;
  border-color: #6261a9;
}

.checkbox label input:disabled + span,
ul.checkboxes label input:disabled + span,
ul.radios label input:disabled + span {
  cursor: not-allowed;
}

.checkbox label span,
ul.checkboxes label span {
  border-radius: 0.25rem;
}

.checkbox input[type=checkbox] + span:after,
ul.checkboxes input[type=checkbox] + span:after {
  position: absolute;
  top: 0.504rem;
  right: auto;
  bottom: auto;
  left: 0.306rem;
  border: 0.2rem solid white;
  border-top: none;
  border-right: none;
  height: 0.54rem;
  width: 0.972rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

ul.radios label span {
  border-radius: 50%;
}

.icon-input {
  max-width: 100%;
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.icon-input input {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 1em;
  margin: 0;
  padding-right: 2.65em;
}

.icon-input [class*="icon-"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  color: #b9b9b9;
  height: 100%;
  font-size: 1em;
  line-height: 1;
  opacity: 1;
  pointer-events: none;
  text-align: center;
  width: 2.65em;
}

.icon-input [class*="icon-"]:before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  margin: -.5em 0;
  text-align: center;
  width: 100%;
}

.input-group {
  max-width: 100%;
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1.5rem;
}

.input-group > *,
.input-group > .icon-input > * {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.input-group > input,
.input-group > select {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  width: 1%;
}

.input-group .input-group-addon {
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  white-space: nowrap;
  -ms-flex-align: center;
  align-items: center;
}

.input-group > *:first-child,
.input-group > *:first-child.icon-input > input {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.input-group > *:last-child,
.input-group > *:last-child.icon-input > input {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

/* add your custom modules here */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?15010568");
  src: url("../font/fontello.eot?15010568#iefix") format("embedded-opentype"), url("../font/fontello.woff2?15010568") format("woff2"), url("../font/fontello.woff?15010568") format("woff"), url("../font/fontello.ttf?15010568") format("truetype"), url("../font/fontello.svg?15010568#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?15010568#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-dir:before {
  content: '\e800';
}

/* '' */
.icon-up-dir:before {
  content: '\e801';
}

/* '' */
.icon-cancel-circled:before {
  content: '\e802';
}

/* '' */
.icon-ok-circled:before {
  content: '\e803';
}

/* '' */
.icon-logout:before {
  content: '\e805';
}

/* '' */
.icon-search:before {
  content: '\e806';
}

/* '' */
.icon-angle-double-left:before {
  content: '\f100';
}

/* '' */
.icon-angle-double-right:before {
  content: '\f101';
}

/* '' */
.icon-angle-left:before {
  content: '\f104';
}

/* '' */
.icon-angle-right:before {
  content: '\f105';
}

/* '' */
.icon-user-circle:before {
  content: '\f2bd';
}

/* '' */
/* anchor */
a.c-white:hover {
  color: #e6e6e6;
}

a.c-black:hover {
  color: black;
}

a.c-primary:hover {
  color: #4d4c8b;
}

a.c-secondary:hover {
  color: #414040;
}

a.c-aqua:hover {
  color: #4ccdff;
}

a.c-blue:hover {
  color: #0059a6;
}

a.c-navy:hover {
  color: #00060c;
}

a.c-teal:hover {
  color: #2ba7a7;
}

a.c-green:hover {
  color: #25a233;
}

a.c-olive:hover {
  color: #2e7555;
}

a.c-lime:hover {
  color: #00cd5a;
}

a.c-yellow:hover {
  color: #ccb000;
}

a.c-orange:hover {
  color: #e76b00;
}

a.c-red:hover {
  color: #981217;
}

a.c-fuchsia:hover {
  color: #c30c9a;
}

a.c-purple:hover {
  color: #870a99;
}

a.c-maroon:hover {
  color: #590d32;
}

a.c-silver:hover {
  color: #c4c4c4;
}

a.c-gray:hover {
  color: #919191;
}

a.c-facebook:hover {
  color: #2d4474;
}

a.c-twitter:hover {
  color: #2795e9;
}

a.c-linkedin:hover {
  color: #005582;
}

a.c-googleplus:hover {
  color: #c23321;
}

a.c-instagram:hover {
  color: #d31e40;
}

a.c-pinterest:hover {
  color: #8c0615;
}

a.c-cornflowerblue:hover {
  color: #333355;
}

a.c-bokaragrey:hover {
  color: #0b0b0a;
}

a.c-valhalla:hover {
  color: #1b1c28;
}

a.c-dune:hover {
  color: #2e2d2b;
}

a.c-mortar:hover {
  color: #414040;
}

a.c-blacksqueeze:hover {
  color: #e3e3da;
}

a.c-blacksqueeze-95:hover {
  color: #d8d8cb;
}

a.c-blacksqueeze-90:hover {
  color: #cdcdbd;
}

/* breadcrumb */
.breadcrumb {
  list-style: none;
  margin-bottom: 2rem;
}

.breadcrumb li:first-child {
  padding-left: 0;
}

.breadcrumb li {
  display: inline-block;
  padding: .5em;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1.5em;
}

.breadcrumb li + li:before {
  position: relative;
  display: inline-block;
  content: "";
  margin-right: 1em;
  font-family: fontello;
  line-height: 1.5em;
}

/* button */
.button {
  text-transform: uppercase;
}

.button.button-small {
  font-size: 90%;
  padding: 0.4rem 1.2rem;
}

/* flatpickr */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #6261a9;
  border-color: #6261a9;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 #6261a9;
}

.flatpickr-day.week.selected {
  box-shadow: -5px 0 0 #6261a9, 5px 0 0 #6261a9;
}

/* form */
input[disabled],
select[disabled],
textarea[disabled] {
  background: #eeeee8;
}

.text-error {
  margin-bottom: 1.5rem;
}

.text-error input,
.text-error select,
.text-error textarea,
.text-error .file-field {
  margin-bottom: .25rem;
  border: 2px solid #c6171e;
}

.text-error cite {
  font-style: normal;
  color: #c6171e;
}

.file-field .info {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  font-family: inherit;
  line-height: 1.5;
  color: #484644;
  background: white;
  border: 1px solid #e3e3da;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: background linear 250ms, border-color linear 250ms;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  max-width: 100%;
  width: 100%;
  color: #b9b9b9;
  font-weight: 400;
}

.file-field input {
  position: absolute;
  visibility: hidden;
}

/* header */
header {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  background-color: #464675;
}

header.up {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

header .toggle-menu,
header .logout-link {
  display: block;
  line-height: 5rem;
  width: 4.6rem;
  text-align: center;
  transition: background-color linear 250ms;
}

header .toggle-menu:hover,
header .logout-link:hover {
  background-color: #333355;
}

header .logout-link {
  font-size: 2rem;
}

/* menu */
.menu {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  width: 290px;
  max-width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  background-color: rgba(48, 49, 70, 0.95);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.menu.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu .menu-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1rem;
}

.menu .menu-header .toggle-menu {
  display: block;
  line-height: 5rem;
  width: 4.6rem;
  text-align: center;
  transition: background-color linear 250ms;
}

.menu .menu-header .toggle-menu:hover {
  background-color: #1b1c28;
}

.menu .section-header {
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
}

.menu hr {
  border-color: rgba(255, 255, 255, 0.12);
  margin: 2rem 0;
}

.menu ul {
  list-style: none;
}

.menu ul li a {
  display: block;
  line-height: 3rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.84);
}

/* panel */
.panel {
  border-radius: 0.25rem;
  padding: 2rem;
  margin: 3rem 0;
}

.panel-raised {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.16);
}

.panel-primary {
  background-color: #d5d5e8;
}

.panel-success {
  background-color: #bcf0c2;
}

.panel-warning {
  background-color: #fff5b3;
}

.panel-info {
  background-color: #ccf1ff;
}

.panel-error {
  background-color: #f6b3b6;
}

/* svg */
.logo path,
.toggle-menu path {
  fill: white;
}

.logo.fill-primary path,
.toggle-menu.fill-primary path {
  fill: #6261a9;
}

.logo.fill-white path,
.toggle-menu.fill-white path {
  fill: white;
}

/* toastify */
.toastify.toastify-default {
  background: black;
}

.toastify.toastify-success {
  background: #3d9970;
}

.toastify.toastify-error {
  background: #c6171e;
}

.toastify.toastify-info {
  background: #6261a9;
}

.toastify.toastify-warning {
  background: #ff851b;
}

/* utils */
.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.p-h {
  padding: 0.5rem !important;
}

.m-h {
  margin: 0.5rem !important;
}

.px-h {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.mx-h {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.py-h {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.my-h {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.pt-h {
  padding-top: 0.5rem !important;
}

.mt-h {
  margin-top: 0.5rem !important;
}

.pr-h {
  padding-right: 0.5rem !important;
}

.mr-h {
  margin-right: 0.5rem !important;
}

.pb-h {
  padding-bottom: 0.5rem !important;
}

.mb-h {
  margin-bottom: 0.5rem !important;
}

.pl-h {
  padding-left: 0.5rem !important;
}

.ml-h {
  margin-left: 0.5rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.px-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.mx-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.p-1h {
  padding: 1.5rem !important;
}

.m-1h {
  margin: 1.5rem !important;
}

.px-1h {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.mx-1h {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.py-1h {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.my-1h {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.pt-1h {
  padding-top: 1.5rem !important;
}

.mt-1h {
  margin-top: 1.5rem !important;
}

.pr-1h {
  padding-right: 1.5rem !important;
}

.mr-1h {
  margin-right: 1.5rem !important;
}

.pb-1h {
  padding-bottom: 1.5rem !important;
}

.mb-1h {
  margin-bottom: 1.5rem !important;
}

.pl-1h {
  padding-left: 1.5rem !important;
}

.ml-1h {
  margin-left: 1.5rem !important;
}

.mt-header {
  margin-top: 6rem;
}

/* karma-css utilities */
.align-top {
  vertical-align: top;
}

.align-bottom {
  vertical-align: bottom;
}

.align-middle {
  vertical-align: middle;
}

.align-baseline {
  vertical-align: baseline;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.b-white {
  background-color: white;
}

.c-white {
  color: white;
}

.b-black {
  background-color: black;
}

.c-black {
  color: black;
}

.b-primary {
  background-color: #6261a9;
}

.c-primary {
  color: #6261a9;
}

.b-secondary {
  background-color: #5b5959;
}

.c-secondary {
  color: #5b5959;
}

.b-aqua {
  background-color: #7fdbff;
}

.c-aqua {
  color: #7fdbff;
}

.b-blue {
  background-color: #0074d9;
}

.c-blue {
  color: #0074d9;
}

.b-navy {
  background-color: #001f3f;
}

.c-navy {
  color: #001f3f;
}

.b-teal {
  background-color: #39cccc;
}

.c-teal {
  color: #39cccc;
}

.b-green {
  background-color: #2ecc40;
}

.c-green {
  color: #2ecc40;
}

.b-olive {
  background-color: #3d9970;
}

.c-olive {
  color: #3d9970;
}

.b-lime {
  background-color: #01ff70;
}

.c-lime {
  color: #01ff70;
}

.b-yellow {
  background-color: #ffdc00;
}

.c-yellow {
  color: #ffdc00;
}

.b-orange {
  background-color: #ff851b;
}

.c-orange {
  color: #ff851b;
}

.b-red {
  background-color: #c6171e;
}

.c-red {
  color: #c6171e;
}

.b-fuchsia {
  background-color: #f012be;
}

.c-fuchsia {
  color: #f012be;
}

.b-purple {
  background-color: #b10dc9;
}

.c-purple {
  color: #b10dc9;
}

.b-maroon {
  background-color: #85144b;
}

.c-maroon {
  color: #85144b;
}

.b-silver {
  background-color: #dddddd;
}

.c-silver {
  color: #dddddd;
}

.b-gray {
  background-color: #aaaaaa;
}

.c-gray {
  color: #aaaaaa;
}

.b-facebook {
  background-color: #3b5999;
}

.c-facebook {
  color: #3b5999;
}

.b-twitter {
  background-color: #55acee;
}

.c-twitter {
  color: #55acee;
}

.b-linkedin {
  background-color: #0077b5;
}

.c-linkedin {
  color: #0077b5;
}

.b-googleplus {
  background-color: #dd4b39;
}

.c-googleplus {
  color: #dd4b39;
}

.b-instagram {
  background-color: #e4405f;
}

.c-instagram {
  color: #e4405f;
}

.b-pinterest {
  background-color: #bd081c;
}

.c-pinterest {
  color: #bd081c;
}

.b-cornflowerblue {
  background-color: #464675;
}

.c-cornflowerblue {
  color: #464675;
}

.b-bokaragrey {
  background-color: #252423;
}

.c-bokaragrey {
  color: #252423;
}

.b-valhalla {
  background-color: #303146;
}

.c-valhalla {
  color: #303146;
}

.b-dune {
  background-color: #484644;
}

.c-dune {
  color: #484644;
}

.b-mortar {
  background-color: #5b5959;
}

.c-mortar {
  color: #5b5959;
}

.b-blacksqueeze {
  background-color: #f9f9f7;
}

.c-blacksqueeze {
  color: #f9f9f7;
}

.b-blacksqueeze-95 {
  background-color: #eeeee8;
}

.c-blacksqueeze-95 {
  color: #eeeee8;
}

.b-blacksqueeze-90 {
  background-color: #e3e3da;
}

.c-blacksqueeze-90 {
  color: #e3e3da;
}

.disabled {
  cursor: not-allowed;
}

.move {
  cursor: move;
}

.pointer {
  cursor: pointer;
}

.d-block {
  display: block;
}

.d-hidden {
  display: none !important;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: grid;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.flex-row {
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-items-start {
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-end {
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-center {
  -ms-flex-align: center;
  align-items: center;
}

.align-items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline;
}

.align-items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.align-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
  align-self: center;
}

.align-self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.img-fluid {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 1px;
}

.list-style-none {
  list-style: none !important;
}

.list-style-reset {
  padding: 0;
  margin: 0;
  list-style: none !important;
}

.scroll-x {
  overflow-x: auto;
}

.noscroll {
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.full-height {
  height: 100%;
}

.full-visual-height {
  height: 100vh;
}

.full-width {
  box-sizing: border-box;
  width: 100%;
}

.max-full-width {
  box-sizing: border-box;
  max-width: 100%;
}

.margin-zero {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.push-auto {
  margin-right: auto;
  margin-left: auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-just {
  text-align: justify;
}

.strong {
  font-weight: 700;
}

.lead {
  font-weight: 300;
}

.muted {
  opacity: 0.7;
}

.nowrap {
  white-space: nowrap;
}

.small {
  font-size: 80%;
}

.uppercase {
  text-transform: uppercase;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.flip-x {
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.flip-y {
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.flip-both {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: null) and (max-width: 575px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

@media (min-width: 1200px) and (max-width: null) {
  .hidden-xl {
    display: none !important;
  }
}
/*# sourceMappingURL=admin.css.map */