.action-bar {
    background-color: color("secondary");
    border-bottom: 1px solid $border-color;
    display: flex;
    margin-bottom: $generic-margin-bottom;
    padding: .5rem;

    * {
        margin: 0 0 0 auto;
    }

    *+* {
        margin-left: .5rem;
    }
}
