/* breadcrumb */ 

.breadcrumb {
  list-style: none;
  margin-bottom: 2rem;
}

.breadcrumb li:first-child {
  padding-left: 0;
}

.breadcrumb li {
  display: inline-block;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1.5em;
}

.breadcrumb li+li:before {
  @include pseudo($display: inline, $pos: relative, $content: "·");
  margin: 0 0.8em 0 0.6em;
  line-height: 1.5em;
}
