/* form */

input[disabled],
select[disabled],
textarea[disabled] {
  background: color("seashell");
}

.text-error {
  margin-bottom: $input-margin-bottom;

  input,
  select,
  textarea {
    margin-bottom: .25rem;
    border-color: color("red");
    border-width: 2px;
  }

  cite {
    font-style: normal;
    color: color("red");
  }
}
