/* form */

input[disabled],
select[disabled],
textarea[disabled] {
  background: color-lighten("secondary", 4%);
}

.text-error {
  margin-bottom: $input-margin-bottom;

  input,
  select,
  textarea,
  .file-field {
    margin-bottom: .25rem;
    border: 1px solid color("chilli");
  }

  cite {
    font-style: normal;
    color: color("chilli");
  }
}

.file-field {
  .info {
    @include input;
    @include input-size;
    @include input-width;
    color: $input-placeholder-color;
    font-weight: 400;
  }
  input {
    position: absolute;
    visibility: hidden;
  }
}
