/* header */

header {
  @include position($top: 0, $position: fixed);
  z-index: zindex("header");
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: color("bluecharcoal");
}

header .header-button {
  color: color("white");
  cursor: pointer;
  display: block;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  transition: background-color linear $animation-speed-fast;
  width: 4.6rem;

  &:hover {
    background-color: color("mirage");
  }
}

header .logo svg {
  display: block;
}

header ~ .main-content {
  padding-top: 6rem;
}