/* header */

header {
  @include position($top: 0, $position: fixed);
  z-index: zindex("header");
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  transform: translateY(0);
  transition: transform ease-in-out $animation-speed-fast;
  background-color: color("cornflowerblue");
}

header.up {
  transform: translateY(-100%);
}

header .toggle-menu {
  line-height: 5rem;
  padding: 0 1.5rem;
  transition: background-color linear $animation-speed-fast;

  &:hover {
    background-color: color-darken("cornflowerblue", $darken-hover-percent);
  }
}

header .logout-link {
  line-height: 5rem;
  padding: 0 1.5rem;
  font-size: 2.5rem;

  transition: background-color linear $animation-speed-fast;

  &:hover {
    background-color: color-darken("cornflowerblue", $darken-hover-percent);
  }

  i:before {
    margin: 0;
  }
}