/* menu */

.menu {
  @include position($top: 0, $left: 0, $position: fixed);
  z-index: zindex("menu");
  max-width: 100%;
  padding-top: 4rem;
  height: 100vh;
  overflow-y: auto;
  background-color: color("mirage");

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
  @include media-breakpoint-up(xs) {
    width: 300px;
  }

  .section-header {
    margin-bottom: .5rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: color-a("white", 0.85);
    text-transform: uppercase;
  }

  hr {
    border-color: color-a("white", 0.2);
    margin: 2rem 0;
  }

  ul {
    list-style: none;
  }

  ul li a {
    display: block;
    line-height: 3rem;
    font-weight: 400;
    color: color-a("white", 0.85);

    &:hover {
      color: color("white");
    }
  }
}
