/* svg */

.logo,
.toggle-menu {
    path {
        fill: color("white");
    }

    &.fill-primary path {
        fill: color("primary");
    }

    &.fill-white path {
        fill: color("white");
    }
}
