/* toastify */

.toastify {
    &.toastify-default { background: color("black"); }
    &.toastify-success { background: color("olive"); }
    &.toastify-error { background: color("red"); }
    &.toastify-info { background: color("primary"); }
    &.toastify-warning { background: color("orange"); }
}
