/* toastify */

.toastify.toastify-default { background: color("black"); }
.toastify.toastify-success { background: color("olive"); }
.toastify.toastify-error { background: color("red"); }
.toastify.toastify-info { background: color("primary"); }
.toastify.toastify-warning { background: color("orange"); }
