/* toastify */

.toastify {
    &.toastify-default { background: color("charcoal"); }
    &.toastify-success { background: color("olive"); }
    &.toastify-error { background: color("chilli"); }
    &.toastify-info { background: color("aqua"); }
    &.toastify-warning { background: color("orange"); }
}
