/* utils */

$spacers: (
  "0": 0,
  "h": .5rem,
  "1": 1rem,
  "1h": 1.5rem
);

@each $infix, $size in $spacers {
  @each $axis in ("", "x", "y", "t", "r", "b", "l") {
    .p#{$axis}-#{$infix} {
      @include padding($axis, $size !important);
    }
    .m#{$axis}-#{$infix} {
      @include margin($axis, $size !important);
    }
  }
}

.columns {
  @include media-breakpoint-up(xs) {
    columns: 1;
  }
  @include media-breakpoint-up(md) {
    columns: 2;
    column-gap: 30px;
  }
  @include media-breakpoint-up(lg) {
    columns: 3;
    column-gap: 30px;
  }
}

/* alpine.js */

[x-cloak] {
  display: none;
}

/* transition helpers */

.transition-fast {
  transition-duration: $animation-speed-fast;
}

.transition-slow {
  transition-duration: $animation-speed-slow;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);      
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-minus-100 {
  transform: translateX(-100%);
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 100;
}
