/* utils */

$spacers: (
  "0": 0,
  "h": .5rem,
  "1": 1rem,
  "1h": 1.5rem
);

@each $infix, $size in $spacers {
  @each $axis in ("", "x", "y", "t", "r", "b", "l") {
    .p#{$axis}-#{$infix} {
      @include padding($axis, $size !important);
    }
    .m#{$axis}-#{$infix} {
      @include margin($axis, $size !important);
    }
  }
}

.columns {
  column-gap: 30px;
  orphans: 1;
  widows: 1;

  @include media-breakpoint-up(xs) {
    columns: 1;
  }
  @include media-breakpoint-up(md) {
    columns: 2;
  }
  @include media-breakpoint-up(lg) {
    columns: 3;
  }
}

/* flex */

.flex-fill {
  flex: 1 1 auto;
}

/* transition helpers */

.transition-fast {
  transition-duration: $animation-speed-fast;
}

.transition-slow {
  transition-duration: $animation-speed-slow;
}

.ease-in {
  transition-timing-function: ease-in;      
}

.ease-out {
  transition-timing-function: ease-out;
}

.linear {
  transition-timing-function: linear;
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-minus-100 {
  transform: translateX(-100%);
}

.translate-x-plus-100 {
  transform: translateX(100%);
}

.translate-y-0 {
  transform: translateY(0);
}

.translate-y-minus-100 {
  transform: translateY(-100%);
}

.translate-y-plus-100 {
  transform: translateY(100%);
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 100;
}
