<form method="post" enctype="multipart/form-data" novalidate>
    {% for field in form %}
    <div {% if field.errors %}class="text-error"{% endif %}>
        {% if field.type == "BooleanField" %}
            {{ field.label }}
            <div class="checkbox">
                <label>{{ field }}<span></span> &nbsp;</label> 
            </div>
        {% else %}
            {{ field.label }}
            {{ field }}
        {% endif %}
        {% if field.errors %}
        <cite>{{ field.errors|join(' ') }}</cite>
        {% elif field.description %}
        <cite>{{ field.description }}</cite>
        {% endif %}
    </div>
    {% endfor %}
    <div class="mb-1">
        <button class="button button-outline {{ button_class|default('button-primary') }}">{{ button_name|default('save') }}</button>
        {% if show_delete_link %}
        <a href="{{ url_for(url_names.delete, id=object.id) }}" class="button button-clear button-red">delete</a>
        {% endif %}
    </div>
</form>
