<form method="post">
    <div>
        <label>Email Address</label>
        <input type="email" placeholder="test@mailbox.com">
    </div>
    <div class="text-error">
        <label>First Name</label>
        <input type="text" placeholder="Bilbo">
        <cite>Name cannot be left blank</cite>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" placeholder="Baggins">
    </div>
    <div>
        <label>Some Field (disabled)</label>
        <input type="text" value="you can't touch this" disabled="disabled">
    </div>
    <div class="mb-1">
        <button class="button button-outline button-primary mr-1">save</button>
        <button class="button button-clear button-red">delete</button>
    </div>
</form>
