<form method="post" novalidate {% if is_multipart(form) %}enctype="multipart/form-data"{% endif %}>

    {% from "starlette_admin/helpers/_form_helpers.html" import render_field %}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}

    <div class="mb-1">
        {% if show_password_reset_link %}
        <a href="{{ url_for('auth:password_reset') }}" class="pull-right">Forgotton Password?</a>
        {% endif %}
        <button class="button {{ button_class|default('button-primary') }}">{{ button_name|default('save') }}</button>
        {% if show_delete_link %}
        <a href="{{ url_for(url_names.delete, id=object.id) }}" class="button button-clear button-chilli">delete</a>
        {% endif %}
    </div>
</form>
