<header class="b-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <a href="{{ url_for(base_url_name) }}" class="h2 m-0 c-white d-block"><span class="f-semi">Starlette</span> <span class="f-lite">Admin</span></a>
            </div>
            <div class="col text-right">
                <span class="mr-1 c-white">John Smith</span>
                <a href="" class="button button-outline button-white small">Logout</a>
            </div>
        </div>
    </div>
</header>
