<header
    x-data="{top: true}"
    x-show="top"
    x-transition:enter="linear transition-fast"
    x-transition:enter-start="translate-y-minus-100"
    x-transition:enter-end="translate-y-0"
    x-transition:leave="linear transition-fast"
    x-transition:leave-start="translate-y-0"
    x-transition:leave-end="translate-y-minus-100"
    @scroll.window="top = (window.pageYOffset > 100) ? false : true"
>
    <a @click="$dispatch('toggle-sidebar')" class="toggle-menu pointer mr-1h" title="Open Menu">
        <i class="fa fa-bars"></i>
    </a>
    <a href="{{ url_for(base_url_name) }}" class="mr-auto" title="Home">
        <div class="logo">{% include "starlette_admin/partials/svg/logo.svg" %}</div>
    </a>
    {% if is_auth_enabled and request.user.is_authenticated %}
        <div class="hidden-xs-down c-white mr-1h">
            <span>{{ request.user.display_name }}</span>
        </div>
        {% if logout_url %}
        <a class="logout-link" href="{{ logout_url }}" title="Logout"><i class="fa fa-sign-out-alt"></i></a>
        {% endif %}
    {% endif %}
</header>
