<header>
    <div class="toggle-menu pointer mr-1h">{% include "starlette_admin/partials/svg/menu.svg" %}</div>
    <a href="{{ url_for(base_url_name) }}" class="mr-auto">
        <div class="logo">{% include "starlette_admin/partials/svg/logo.svg" %}</div>
    </a>
    {% if is_auth_enabled and request.user.is_authenticated %}
        <div class="hidden-xs-down c-white mr-1h">
            <i class="icon-user-circle"></i>
            <span>{{ request.user.display_name }}</span>
        </div>
        {% if logout_url %}
        <a class="logout-link c-white" href="{{ logout_url }}"><i class="icon-lock"></i></a>
        {% endif %}
    {% endif %}
</header>
