<div class="panel highlight">
    <p>Some interesting text goes here for breakout block with a form</p>
    <p class="c-silverchalice"><em>Quisque nec vestibulum risus, quis egestas arcu. Maecenas laoreet elit faucibus sollicitudin volutpat. Morbi rhoncus sem mauris, vitae congue mi pulvinar vitae. Sed cursus enim ac eleifend semper. Donec sollicitudin feugiat risus vitae vestibulum. Duis hendrerit velit id pharetra volutpat. In hac habitasse platea dictumst.</em></p>
</div>

<div class="panel panel-raised">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in leo vitae nisi pharetra euismod ut at mi. Sed feugiat quam ut ligula rutrum tempus.
</div>

<div class="panel panel-raised panel-success">
    Good News everyone your whatever has been successful
</div>

<div class="panel panel-raised panel-error">
    Nope didn’t work, you smell of poo
</div>
