<div class="row paginator mb-1h">
    <div class="col-4 text-left">
    {% if page_obj.has_previous %}
        <a class="button button-silver button-outline" href="?page=1"><i class="icon-angle-double-left"></i>First</a>
        <a class="button button-silver button-outline" href="?page={{ page_obj.previous_page_number }}"><i class="icon-angle-left"></i>Previous</a>
    {% endif %}
    </div>
    <div class="col-4 text-center muted">Page {{ page_obj.number }} of {{ paginator.num_pages }}</div>
    <div class="col-4 text-right">
    {% if page_obj.has_next %}
        <a class="button button-silver button-outline" href="?page={{ page_obj.next_page_number }}">Next<i class="icon-angle-right"></i></a>
        <a class="button button-silver button-outline" href="?page={{ paginator.num_pages }}">Last<i class="icon-angle-double-right"></i></a>
    {% endif %}
    </div>
</div>