<nav class="menu"
    x-data="{show: false}"
    x-cloak
    x-show="show"
    x-transition:enter="ease-out transition-fast"
    x-transition:enter-start="translate-x-minus-100"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="ease-in transition-fast"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="translate-x-minus-100"
    @toggle-sidebar.window="show = !show"
    @mouseleave="show = false"
>
    <div class="mt-1 p-1">
        {% for section in registry|groupby('section_name') %}
        <p class="section-header">{{ section.grouper }}</p>
        <ul>
        {% for admin in section.list %}
            <li><a href="{{ url_for(admin.url_names().list) }}" title="{{ admin.collection_name }}">{{ admin.collection_name }}</a></li>
        {% endfor %}
        </ul>
        {% if not loop.last %}<hr>{% endif %}
        {% endfor %}
    </div>
</nav>