<nav class="menu">
    <div class="menu-header">
        <a href="{{ url_for(base_url_name) }}" title="Home"><div class="logo">{% include "starlette_admin/partials/svg/logo.svg" %}</div></a>
        <div class="ml-auto"><a class="toggle-menu pointer" title="Close Menu"><i class="icon-menu"></i></a></div>
    </div>
    <div class="mt-1 p-1">
        {% for section in registry|groupby('section_name') %}
        <p class="section-header">{{ section.grouper }}</p>
        <ul>
        {% for admin in section.list %}
            <li><a href="{{ url_for(admin.url_names().list) }}" title="{{ admin.collection_name }}">{{ admin.collection_name }}</a></li>
        {% endfor %}
        </ul>
        <hr>
        {% endfor %}
    </div>
</nav>