<table class="table-striped">
    <thead>
        <tr>
        {% for name in list_field_names -%}
            <th>
            {% if order_enabled %}
                {% if order_by == name %}
                    {% if order_direction == 'asc' %}
                    <a href="?{{ query_params(request.query_params, order_direction='desc') }}" class="c-dovegray">{{ name|replace("_", " ")|title }}</a><i class="icon-up-dir"></i>
                    {% else %}
                    <a href="?{{ query_params(request.query_params, order_direction='asc') }}" class="c-dovegray">{{ name|replace("_", " ")|title }}</a><i class="icon-down-dir"></i>
                    {% endif %}
                {% else %}
                <a href="?{{ query_params(request.query_params, order_by=name, order_direction='asc') }}" class="c-dovegray">{{ name|replace("_", " ")|title }}</a>
                {% endif %}
            {% else %}
                <span class="c-dovegray">{{ name|replace("_", " ")|title }}</span>
            {% endif %}
            </th>
        {%- endfor %}
        </tr>
    </thead>
    <tbody>
    {% for object in list_objects -%}
        <tr>
        {% for name in list_field_names -%}
            <td>{% if loop.index == 1 %}<a href="{{ object.id }}/update">{{ object[name] }}</a>{% else %}{{ object[name] or "-" }}{% endif %}</td>
        {%- endfor %}
        </tr>
    {%- endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="py-1" colspan="{{ list_field_names|length }}">
                {% if is_paginated %}
                    {% include "starlette_admin/partials/pagination.html" %}
                {% else %}
                    {{ list_objects|length }} record{% if list_objects|length != 1 %}s{% endif %}
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>

