<table class="table table-headed table-hover">
    <thead>
        <tr>
        {% for name in list_field_names -%}
            <th>
            {% if order_enabled %}
                {% if order_by == name %}
                    {% if order_direction == 'asc' %}
                    <a href="?{{ url_params_update(request.query_params, order_direction='desc') }}">{{ name|replace("_", " ")|title }}<i class="icon-up-dir"></i></a>
                    {% else %}
                    <a href="?{{ url_params_update(request.query_params, order_direction='asc') }}">{{ name|replace("_", " ")|title }}<i class="icon-down-dir"></i></a>
                    {% endif %}
                {% else %}
                <a href="?{{ url_params_update(request.query_params, order_by=name, order_direction='asc') }}">{{ name|replace("_", " ")|title }}</a>
                {% endif %}
            {% else %}
                <span>{{ name|replace("_", " ")|title }}</span>
            {% endif %}
            </th>
        {%- endfor %}
        </tr>
    </thead>
    <tbody>
    {%- for object in list_objects -%}
        <tr>
        {%- for name in list_field_names -%}
            <td>
                {%- if loop.index == 1 -%}
                <a href="{{ url_for(url_names.edit, id=object.id) }}">{{ object[name] }}</a>
                {%- else -%}
                    {%- if object[name] is sameas true -%}
                    <i class="icon-ok-circled c-olive"></i>
                    {%- elif object[name] is sameas false -%}
                    <i class="icon-cancel-circled c-red"></i>
                    {%- else -%}
                    {{ object[name] or "-" }}
                    {%- endif %}
                {%- endif -%}
            </td>
        {%- endfor -%}
        </tr>
    {%- endfor -%}
    </tbody>
    <tfoot>
        <tr>
            <td class="px-0 py-1h" colspan="{{ list_field_names|length }}">
                {% if is_paginated %}
                    {% from "starlette_admin/helpers/_list_helpers.html" import render_paginator %}
                    {{ render_paginator(request, paginator, page_obj) }}
                {% else %}
                    {{ list_objects|length }} record{% if list_objects|length != 1 %}s{% endif %}
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>

