<table class="table-striped">
    <thead>
        <tr><th><a href="" class="c-dovegray">Field 1</a> <i class="icon-up-dir"></i></th></tr>
    </thead>
    <tbody>
        <tr><td><a href="">Record 1</a></td></tr>
        <tr><td><a href="">Record 2</a></td></tr>
        <tr><td><a href="">Record 3</a></td></tr>
        <tr><td><a href="">Record 4</a></td></tr>
        <tr><td><a href="">Record 5</a></td></tr>
    </tbody>
    <tfoot>
        <tr><td class="muted">5 records</td></tr>
    </tfoot>
</table>
