
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-up-dir:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-ok-circled:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */