{% macro render_paginator(request, paginator, page) %}
<div class="row">
    <div class="col muted">Page {{ page.number }} of {{ paginator.num_pages }} - {{ paginator.count }} record{% if paginator.count != 1 %}s{% endif %}</div>
    <div class="col text-right">
        <div class="button-group">
            {% if page.has_previous %}
            <a class="button button-secondary button-small" href="?{{ url_params_update(request.query_params, page=1) }}"><i class="fa fa-angle-double-left"></i></a>
            <a class="button button-secondary button-small" href="?{{ url_params_update(request.query_params, page=page.previous_page_number) }}"><i class="fa fa-angle-left"></i></a>
            {% endif %}
            {% if page.has_next %}
            <a class="button button-secondary button-small" href="?{{ url_params_update(request.query_params, page=page.next_page_number) }}"><i class="fa fa-angle-right"></i></a>
            <a class="button button-secondary button-small" href="?{{ url_params_update(request.query_params, page=paginator.num_pages) }}"><i class="fa fa-angle-double-right"></i></a>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_search_form(term) %}
<form method="get" class="mb-0 flex-fill">
    <div class="input-group mb-0">
        <div class="icon-input">
            <input type="text" name="search" placeholder="Search" {% if term %}value="{{ term }}"{% endif %} autofocus>
            <span class="fa fa-search"></span>
        </div>
        <button type="submit" class="d-hidden"></button>
    </div>
</form>
{% endmacro %}
